<div ng-controller="BulletinsController">


  <header class="header">
    <div>
    <h1> Community Virtual Bulletin Board<h2>
      <button ng-click="launchNewBox()">Post a Bulletin</button>
    </div>
  </header>
  <div class="container">
    <ul class="bulletin">
      <div class="box" id="post_box">
        <h3>Input your Name</h3>
        <input type="text" name="posted_by" class="posted_by"><br>
        <h3>Input your content</h3>
        <input type="text" name="post_content" class ="post_content">
        <button ng-click="postBulletin()">Post</button>
      </div>
      <span class="posts" ng-repeat="bulletin in bulletins | orderBy: 'created_at':true">
        <div class="box">
          <h3>
            {{ bulletin.posted_by }}
          </h3>
          <p>
            {{ bulletin.post_content }}
          </p>
          <button ng-click="deleteBulletin(bulletin.id)">Delete</button>
        </div>
      </span>

    </ul>
  </div>
</div>













</div>
